.vscode
.DS_Store
real_credentials.json
/data/full_data.csv
/data/day4_data.csv
/data/day5_data.csv
/data/day6_data.csv
/data/day7_data.csv
/data/day8_data.csv
/data/day9_data.csv
/data/day10_data.csv
/data/day11_data.csv
/data/day12_data.csv
/data/day13_data.csv
/data/day14_data.csv
/data/day15_data.csv
/data/day16_data.csv
/data/day17_data.csv
/data/day18_data.csv
/data/day19_data.csv
/data/day20_data.csv
/data/day21_data.csv
/data/day22_data.csv
/data/day23_data.csv
/data/day24_data.csv
/data/day25_data.csv
/data/day26_data.csv
/data/day27_data.csv
/data/day28_data.csv
/data/day29_data.csv
/data/day30_data.csv
